<div class="show-title">
  <%= @genre.name %>
</div>

<div class="book-info">
  <% if !@books.present? %>
    <strong><%= t('.no_book') %></strong><br></br>
  <% else %>
    <strong><%= @genre.name %><%= t('.your_book') %></strong><% @books.all.each do |book| %>
      <ul><%= link_to book.title, book_path(book) %></ul>
    <% end %>
  <% end %>
</div>

<div class="book-info">
  <% if !@borrowable_books.present? %>
    <strong><%= t('.genre_nobook') %></strong></br>
  <% else %>
    <strong><%= @genre.name %><%= t('.genre_book') %></strong><% @borrowable_books.all.each do |book| %>
      <ul><%= link_to book.title, view_borrowable_book_path(book) %></ul>
    <% end %>
  <% end %>
</div>


