<div class="show-title">
  <%= @author.name %>
</div>

<div class="book-info">
  <% if !@books.present? %>
    <strong><%= p('.no_book', author_name:@author.name) %></strong></br>
  <% else %>
    <strong><%= p('.author_book', author_name:@author.name) %></strong><% @books.all.each do |book| %>
      <ul><%= link_to book.title, book_path(book) %></ul>
    <% end %>
  <% end %>
</div>

<div class="book-info">
  <% if !@borrowable_books.present? %>
    <strong><%= p('.noborrow_book', author_name:@author.name) %></strong></br>
  <% else %>
    <strong><%= p('.borrow_book', author_name:@author.name) %></strong><% @borrowable_books.all.each do |book| %>
      <ul><%= link_to book.title, view_borrowable_book_path(book) %></ul>
    <% end %>
  <% end %>
</div>

