<h2><%= t('.h2') %></h2>

<div>
<p><%= t('.intro') %></p>
<p><%= t('.hosting') %></p>
<p><%= t('.cookie') %></p>
<p><%= t('.personal_data') %></p>
<p><%= t('.content_copyright') %></p>
<p><%= t('.site_copyright') %></p>
</div>

<div class="additional-links">
  <h2>add link</h2>

</div>