<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>  
</div> 

<div class="field">
  <%= f.label :year_published %>
  <%= f.number_field :year_published %>
</div>  
<div class="field">
  <%= f.label :language %>
  <%= f.text_field :language %>
</div>  
<div class="field">  
  <%= f.label :description %>
  <%= f.text_area :description, cols: "30", rows: "4", maxlength:"200" %><br>
</div>
