<div class="book-info">
  <strong><%= t('.title') %></strong><%= book.title %><br>
  <% if book.year_published.nil? %>
    <strong><%= t('.year') %></strong>N/A
  <% else %>
    <strong><%= t('.year') %></strong><%= book.year_published %>
  <% end %><br>
  <% if book.language.nil? || book.language == "" %>
    <strong><%= t('.language') %></strong>N/A
  <% else %>
    <strong><%= t('.language') %></strong><%= book.language %>
  <% end %><br>
  <% if book.description.nil? || book.description == "" %>
    <strong><%= t('.description') %></strong>N/A
  <% else %>
    <strong><%= t('.description') %></strong><%= book.description %>
  <% end %><br>
</div>