<%= form_for(@book) do |f| %>
  <%= render partial: 'layouts/error_messages', locals: {obj: @book, back: book_path(@book)} %>

  <h1><%= t('.h1') %></h1>

  <%= render 'form_basic_info', f: f %>
  <%= render 'form_status', f: f %>
  <%= render 'form_author_genre', f: f %>

  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>