<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
<h1><%= t('.h1') %></h1>

<h2><%= t('.h2_booklist') %></h2>
<div class="book-list">
  <% if !@user_books.present? %>
    <p><%= link_to(t('.p_nobook'), new_book_path) %></p>
  <% else %>
    <% @user_books.each do |book| %>
      <ul>
        <%= link_to book.title, book_path(book) %>
      </ul>
    <% end %>
  <% end %>
</div>

<h2><%= t('.h2_lendinglist') %></h2>
<div class="book-list">
  <% if !@books_to_borrow.present? %>
    <p><%= t('.p_nolending') %></p>
  <% else %>
    <% @books_to_borrow.each do |book| %>
      <ul>
        <%= link_to book.title, view_borrowable_book_path(book) %>
      </ul>
    <% end %>
  <% end %>
</div>

<h2><%= t('.h2_borrowinglist') %></h2>
<div class="book-list">
  <% if !@books_to_return.present? %>
    <p><%= t('.p_noborrowing') %></p>
  <% else %>
    <% @books_to_return.each do |book| %>
      <ul>
        <%= link_to book.title, borrowed_book_path(book) %>
      </ul>
    <% end %>
  <% end %>
</div>

<h2><%= link_to(t('.h2_comments'), comments_path) %></h2>