<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Enter book info below!</h1>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>  
  </div> 
  <div class="field">
    <%= f.label :year_published %>
    <%= f.number_field :year_published %>
  </div>  
  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>  
  <div class="field">  
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <!-- need to add status -->
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, ([["Available for Borrowing", "available"], ["Private: Not for Lending", "private"]]) %>
  </div>

  <div class="field">
    Select author(s):<br>
    <%= f.collection_check_boxes(:author_ids, @authors, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %><br>
    <% end %>
    <%= f.fields_for :authors, @book.authors.build do |author| %>
      <%= author.label "New Author Name:" %>
      <%= author.text_field :name %>
    <% end %>
  </div>

  <div class="field">
    Select genre(s):<br>
    <%= f.collection_check_boxes(:genre_ids, @genres, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %><br>
    <% end %>
    <%= f.fields_for :genres, @book.genres.build do |genre| %>
      <%= genre.label "New Genre:" %>
      <%= genre.text_field :name %>
    <% end %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
