<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">

<div class="show-title">
  <%= t('.returned_book') %><%= @book.user.name %>
</div>
<%= render partial:'show_basic_info', locals: {book: @book} %>
<%= render partial: 'show_author_genre', locals: {book: @book} %>

<div class="book-info">
  <% if @comments.present? %>
    <strong><%= t('.comment_book') %></strong>

    <div class="note">
      <i><%= t('.comment_note') %></i>
    </div>

      <% @comments.all.each do |comment| %>

        <ul><i><%= t('.comment') %></i><%= comment.content %><br>
        <i><%= t('.comment_submitted') %></i><%= comment.updated_at.strftime("%A, %b %e,  %Y") %><br>
        <%= link_to(t('.delete'), book_comment_path(comment.book, comment), method: "delete") %>|<%= link_to(t('.edit'), edit_book_comment_path(@book, comment)) %></ul>

      <% end %>
   
  <% end%>
</div>

<div class="links">
  <%= link_to( t('.return_book'), return_book_path(@book), method: "post") %> | 
  <%= link_to( t('.comment_ones_book', username: @book.user.name, title: @book.title), new_book_comment_path(@book)) %><br>
</div>