<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">

<div class="show-title">
  Below is the info about the book you're returning to: <%= @book.user.name %>
</div>
<%= render partial:'show_basic_info', locals: {book: @book} %>
<%= render partial: 'show_author_genre', locals: {book: @book} %>

<div class="book-info">
  <% if @comments.present? %>
    <strong>Your comments about this book:</strong>

    <div class="note">
      <i>Comments are visible to book's owner, and other users when book is available for borrowing. 
      You can view all your comments from the comments section of the homepage.</i>
    </div>

      <% @comments.all.each do |comment| %>

        <ul><i>Comment: </i><%= comment.content %><br>
        <i> Comment submitted: </i><%= comment.updated_at.strftime("%A, %b %e,  %Y") %><br>
        <%= link_to "Delete", book_comment_path(comment.book, comment), method: "delete" %>|<%= link_to "Edit", edit_book_comment_path(@book, comment) %></ul>

      <% end %>
   
  <% end%>
</div>

<div class="links">
  <%= link_to "Return Book", return_book_path(@book), method: "post" %> | 
  <%= link_to "Leave a comment about #{@book.user.name}'s copy of #{@book.title}", new_book_comment_path(@book) %><br>
</div>