<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
<div class="show-title">
  <%= t('.select_book') %>
</div>

<%= render partial:'show_basic_info', locals: {book: @book} %>

<div class="book-info">
  <strong><%= t('.status') %></strong> <%= @text %>
</div>

<%= render partial: 'show_author_genre', locals: {book: @book} %>

<div class="book-info">
  <% if @book.comments.present? %>
    <strong><%= t('.user_comments') %></strong>

    <%= render partial: 'comments/display_all', locals: {comments: @book.comments} %>

  <% end %>
</div>

<div class="links">
  <%# = link_to (t('.delete'), @book , method: "delete") %> <%# = link_to( t('.edit'), edit_book_path(@book)) %>
  <%= link_to(t('.delete'), book_path(@book), method: :delete) %> | <%= link_to( t('.edit'), edit_book_path(@book)) %>  
</div> 

